*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cho phep mot box-content nhan padding voi width va height nhu cu
}

ul,
ol {
  list-style: none; //ko hien thi so va dau "."
}

a {
  text-decoration: none;
  // color: white;
}

input,
button {
  outline: 0;
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}
